.question {
  display: none;
}

.start {
  display: none;
}

.parent-information-active {
  display: block;
}

#btn-nex-question {
  display: none;
}

.container-resultat {
  display: none;
}

.stepper-component {
  margin: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  counter-reset: incrime;
}
.stepper-component .component-step {
  width: 5rem;
  height: 4rem;
  background-color: #d5cea3;
  z-index: 1;
  border-radius: 50%;
}
.stepper-component .component-step::after {
  content: attr(data-title);
  position: absolute;
  font-size: 19px;
  color: #ffffff;
  top: 100%;
}
.stepper-component .component-step::before {
  counter-increment: incrime;
  content: counter(incrime);
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  font-size: 30px;
  color: #ffffff;
}
.stepper-component .progress {
  position: absolute;
  top: 50%;
  background-color: #d5cea3;
  height: 4px;
  width: 60%;
}
.stepper-component .component-step-active {
  background-color: #3c2a21;
}

#parent-information {
  margin: 4rem 0;
}
#parent-information .information {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 36vh;
  color: rgb(255, 255, 255);
  border-radius: 2rem;
}
#parent-information .info-btn .btn-next {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 8rem;
  height: 3rem;
  border-radius: 0.7rem;
  background-color: #d5cea3;
  color: #ffffff;
  font-size: 1.5rem;
}
#parent-information .info-btn .btn-next:hover {
  transform: scale(1.04);
}

#btn-nex-question {
  padding: 1rem;
  width: 13%;
  border-radius: 1rem;
  background-color: #d5cea3;
  color: #ffffff;
  font-size: 1.5rem;
}
#btn-nex-question:hover {
  transform: scale(1.04);
}

body {
  background-color: #1a120b;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container-bar {
  background-color: #d5cea3;
  border-radius: 1rem;
}
.container-bar .progress-bar {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #3c2a21;
  width: 0;
  height: 3.9vh;
  border-radius: 1rem;
}

.start.container .start-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 9rem;
  background-color: #d5cea3;
  color: #ffffff;
  width: 25vw;
  height: 15vh;
  border-radius: 2rem;
  text-align: center;
}
.start.container .start-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.question {
  margin-top: 4rem;
}

.question-card {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 0.8rem;
  border-radius: 2rem;
  color: #d5cea3;
}
.question-card h1 {
  text-align: center;
}

#card {
  margin: 1rem 0;
  width: 100%;
}
#card .answer1-card {
  background-color: #1a120b;
  border-radius: 1rem;
  border: 2px solid #e5e5cb;
  width: 20rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  color: #d6cbcb;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#card .answer1-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.active {
  border: 0.7rem solid red;
}

.container-resultat {
  margin-top: 6rem;
}
.container-resultat .resultat {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 1.4rem;
  border-radius: 0.8rem;
}

.btn-restart {
  font-size: 1.3rem;
  display: flex;
  text-align: center;
  background-color: #d5cea3;
  border-radius: 1rem;
  padding: 1rem;
  width: 8rem;
}
.btn-restart .restart {
  background-color: #d5cea3;
}
.btn-restart:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}/*# sourceMappingURL=style.css.map */