
// steper-component
.stepper-component{
    margin: 1rem  ;
    position: relative;
    display: flex;
     justify-content: center;
     justify-content:space-around;
     // for counter-stepper
     counter-reset:incrime;

    .component-step{
        // margin: 0 2rem;
        width: 8rem;
        height: 5rem;
        background-color: #EC7211;
        z-index: 1;
        border-radius: 50%;
        text-indent: 5px;
        &::after{
            content:attr(data-title);
            position: absolute;
            font-size:19px;
            color: #ffffff;
            top:100%;
            // margin-left: 5px;
            
        }
        &::before{
            counter-increment:incrime;
            content: counter(incrime);
            display: flex;
            justify-content: center;
            margin-top:1rem;
            font-size: 30px;
            color: #ffffff;


        }
    }
    &::before{
        content: "";
        position: absolute;
        top:50%;
        // transform: translateY(-50%);:
        background-color: #ffffff ;
        height: 4px;
        width: 80%;
    }
   
}
.component-step-active {
  background-color: #ffffff;
    color: #EC7211;

}

// card information 
parent-information
.information{
   display: flex;
   width: 100%;
   height: 50vh;
   background-color: #06366B;
   color: rgb(255, 255, 255);
   border-radius: 2rem;
}
.info-btn{ 
       margin-top:1rem ;
        .btn-next {
            padding: 1rem;
            width: 10%;
            border-radius: 1rem;
            background-color: #EC7211;
            color: #ffffff;
            font-size: 26px;
            &:hover{
                transform: scale(1.04);
            }
        }
        .btn-previous{
            @extend .btn-next;
        }
    }









body {
    background-image:url("../img/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    background-attachment: fixed;
}
//   .con{
//     padding: 6rem;
//  }
.question-card{
     margin: 5rem 0 ;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.8rem;
    background-color: #b6d0ea;
    border-radius: 2rem;
    h1{
        text-align: center;
    }
}
     #card{
        margin: 4rem 0;
        width: 100%;
        .answer1-card{
            background-color: #5393cf;
            border-radius: 2rem;
            border: 3px solid #EC7211  ;
            width: 19rem;
            height: 15rem ;
            display: flex;
            justify-content: center;
            align-items: center;  
            margin: 0.5rem 0; 
            
            &:hover{
                transform: scale(1.05);
                box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
            }

            &:active{
                border: 0.7rem solid #203ae2 ;
              }

        }
       
       
     }

 // responsive 
//  @media only screen and (max-width:0px)
 @media only screen and (max-width:767px){
    #card{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .answer1-card{
        margin: 0.5rem 0;
    }

  
   }

